

body {
  margin:0px;
  margin-top: 0px;

}

header {
  background-image: url("../images/pinkcloudsky.jpg");
  background-size: cover;
  height: 256px;

}



p {

}


h1 {
  text-align: center;
  color: white;
  size: 64px;

}

h2 {


}

h3 {

}

th {

}

table {

}

td {

}

footer {

}
footer h3 {

}

section {

}

.container {

}


.first {

}

.second {

}

.third {

}

.fourth {

}
